footer {
    box-sizing: border-box;
    border-top: solid .1vh rgba(256, 256, 256, 0.2);
    font-size: 1.2rem;
    background-color: #222E44;
    width: 100%;
    height: fit-content;

}

p {
    text-align: left;
    margin: 0 0 .2rem 0;
}

.Footer-content {
    padding: 1rem 2rem;
}

.Footer-info {
    font-weight: 100;
}
