@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");


.Intro-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 200px;
}

.Intro-img {
    width: 100%;
    height: 100%;
    z-index: 89;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}

.Intro-container:before {
    content: '';
    display: block;
    width: 100%;
    z-index: 90;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .7);
}

.Intro-title {
    margin: auto;
    z-index: 95;
    white-space: pre-line;
    text-align: left;

    font-family: "Cormorant Infant", sans-serif;
    text-transform: uppercase;;
    font-size: 5em;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .Intro-container {
        height: 50vh;
    }
    .Intro-title {
        font-size: 3em;
    }
}